body {
    padding: 0px;
    margin: 0px 10vw;
    font-family: Helvetica, "Helvetica Neue", Arial;
    background: url('../img/bg-template.png') repeat;
}

a {
    text-decoration: none;
}

.vertical-align {
    font-size: 0px;
}
.vertical-align:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tiles {
    font-size: 0px;
}

.tile {
    font-size: 16px;
    display: inline-block;
    min-width: 64px;
    min-height: 64px;
    position: relative;
}

.tile .content {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}

.tile.height {
    height: 20vmin;
}
.tile.height-l {
    height: 40vmin;
    min-height: 128px;
}

.tile.width {
    width: 20vmin;
}
.tile.width-l {
    width: 40vmin;
    min-width: 128px;
}

.tile.flip {
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tile.flip .content {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.tile.flip:hover .content {
    -webkit-animation: none;
    animation: none;
}

.tile.flip-vert:hover .content {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.tile.flip-horiz:hover .content {
    -webkit-transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.tile.flip-vert .content, .tile.flip-horiz .content {
    -webkit-transition: -webkit-transform 500ms linear;
    transition: transform 500ms linear;
}

.tile.flip-vert .content .back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.tile.flip-horiz .content .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tile.flip .content .back, .tile.flip .content .face {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    backface-visibility: hidden;
}

.tile.slide .content {
    overflow: hidden;
}
.tile.slide .content .face, .tile.slide .content .back {
    -webkit-transition: -webkit-transform 500ms linear;
    transition: transform 500ms linear;
    height: 100%;
}
.tile.slide .content .face, .tile.slide .content .back {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.tile.slide:hover .content .face, .tile.slide:hover .content .back {
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
}

.tile.loft .content, .tile.loft-bottom .content {
    overflow: hidden;
}
.tile.loft .face, .tile.loft-bottom .face {
    height: 100%;
}
.tile.loft .back {
    -webkit-transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
}
.tile.loft:hover .content .back {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.tile.loft-bottom .back {
    -webkit-transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    height: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-transform: translate3d(0px, 200%, 0px);
    transform: translate3d(0px, 200%, 0px);
}
.tile.loft-bottom:hover .content .back {
    -webkit-transform: translate3d(0px, 100%, 0px);
    transform: translate3d(0px, 100%, 0px);
}

.tile .face {
    background: #fff;
    text-align: center;
    white-space: nowrap;
}

.tile .face .logo {
    width: 56px;
    height: 56px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.tile .face .text {
    font-size: 16px;
    vertical-align: middle;
}

.tile.fb .face {
    color: #3b579d;
}
.tile.fb .back {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #3b579d url('https://scontent-a.xx.fbcdn.net/hphotos-prn2/t31.0-8/c0.137.851.315/p851x315/1040035_536965919708526_785602906_o.jpg') no-repeat;
    background-size: contain;
}
.tile.fb .back .logo-face {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    border: 2px solid #fff;
}
.tile.fb .back .text {
    position: absolute;
    bottom: 2px;
    right: 6px;
}

.tile.gp .face {
    color: #dc4a38;
}
.tile.gp .back {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #e5e5e5 url('https://lh4.googleusercontent.com/-YBuUuCZvrYg/UkhmD3qQH2I/AAAAAAAACk8/otji905uj1g/s630-fcrop64=1,1b672c19ef3bff6c/WP_20130923_18_01_18_SmartShoot.jpg') no-repeat;
    background-size: cover;
}
.tile.gp .back .logo-bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 30%;
    background: rgba(255, 255, 255, 0.7);
}
.tile.gp .back .logo-bg .logo-face {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 10%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.tile.gp .back .text {
    position: absolute;
    bottom: 2px;
    right: 6px;
}

.tile.so .face {
    color: #fe7a15;
}
.tile.so .back {
    background: #fe7a15;
}
.tile.so .back .flair {
    vertical-align: middle;
    width: 100%;
}

.tile.gh .face {
    color: #333;
}
.tile.gh .back {
    background: #f5f5f5;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    opacity: 0.95;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}
.tile.gh .back .logo-face {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 6px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}
.tile.gh .back .text {
    vertical-align: middle;
    margin-right: 6px;
}

.tile.li .face {
    color: #000;
}
.tile.li .back {
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
    background: url('https://media.licdn.com/media//p/8/005/09b/3d8/3894dd8.jpg') no-repeat;
    background-size: cover;
}
.tile.li .back .logo-bg {
    background: #fff;
    position: absolute;
    left: 10%;
    width: 50%;
    height: 50%;
    bottom: 0px;
}
.tile.li .back .logo-bg .logo-face {
    position: absolute;
    top: 5%;
    height: 90%;
    left: 0px;
}

.tile.rs .face {
    color: #444;
}
.tile.rs .back {
    background: #fff;
}
.tile.rs .back .logo-face {
    width: 56px;
    height: 56px;
    position: absolute;
    margin: auto auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 50%;
}

.tile.width.height .face .text {
    display: none;
}

.logo {
    background: url('../img/logos.png') no-repeat;
}
.logo-fb {
    background-position: 0px 0px;
}
.logo-so {
    background-position: 0px -56px;
}
.logo-gh {
    background-position: 0px -112px;
}
.logo-gp {
    background-position: 0px -168px;
}
.logo-li {
    background-position: 0px -224px;
}
.logo-rs {
    background-position: 0px -280px;
}